

/* Account page resizable */
@media (max-width: 680px) {
    .small-screen-login-container {
       width: 400px;
    }

}
@media (max-width: 420px) {
    .small-screen-login-container {
        width: 300px;
    }
    .widescreensdiv{
        display: flex;
        flex-direction: column;
    }

    .height-adjust{
        height: 990px;
    }
}
@media (min-width: 420px) {
    .widescreensdiv{
        display: flex;
        flex-direction: row;
    }
    .widescreenmarginl{
        margin-left: 0.5rem;
    }
    .widescreenmargin5{
        margin-right: 0.5rem;
    }
    .height-adjust {
        height: 700px;
    }
}

@media (min-height: 990px)  {
    .signupwrapper {
        height: 100vh;
    }
}
@media (min-width: 420px) and (min-height: 715px) {
    .signupwrapper {
        height: 100vh;
    }
}

@media (min-width: 680px) {
    .small-screen-login-container {
        width: 600px;
    }
}


@media (min-height: 650px) {
    .loginwrapper {
        height: 100vh;
    }
}

.big-screen {
    display: none;
}