spring:
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
      ddl-auto: none
    open-in-view: false

  datasource:
    url: jdbc:postgresql://localhost:9200/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  liquibase:
    change-log: classpath:db.changelog/changelog-master.xml
    
  mail:
    username: "runtimeterror35@gmail.com"
    password: "vemi ehpw gutq sjiu"
  server:
    port: 8082
